.detail-header(ng-class='{"detail-header--trailer":trailerPlaying}')

    .trailer(ng-if='movie.videos.trailers.length && trailerPlaying')

        iframe(ng-src='{{ movie.videos.trailers[0].key | youtubeUrl }}', autoplay="1")
    .detail-header__image(
        style='background-image: url({{ movie.backdrop_path | imagePath:"780" }})'
    )
    .detail-header__image.detail-header__image--hi-res.js-background-image(
        style='background-image: url({{ movie.backdrop_path | imagePath }})'
        add-class-on-load='detail-header--hi-res-loaded'
        acol-target='.detail-header'
        acol-src='{{ movie.backdrop_path | imagePath }}'
    )

    .detail-header__infos.js-header
        .detail-header__headline.js-headline {{movie.title}} 
            //- span.detail-header__date {{movie.release_date | date:'yyyy'}}
        .detail-header__tagline.js-tagline {{movie.tagline}}

.specs

    svg.js-specs-svg(width='425px', height='326px', viewbox='0 0 425 326')
      g(transform='translate(-471, -232)')
        g(transform='translate(474, 235)')
          path.specs__rating-path.specs__rating-path--whole.js-rating-whole(d='M209,320 C270.303607,320 320,270.303607 320,209 C320,147.696393 270.303607,98 209,98 C147.696393,98 98,147.696393 98,209 C98,270.303607 147.696393,320 209,320 Z', fill-opacity='0', fill='#FFFFFF')
          path.specs__rating-path.specs__rating-path--part.js-rating-part(d='M209,320 C270.303607,320 320,270.303607 320,209 C320,147.696393 270.303607,98 209,98 C147.696393,98 98,147.696393 98,209 C98,270.303607 147.696393,320 209,320 Z', fill-opacity='0', fill='#FFFFFF')
          path.specs__duration-path.js-duration-part(d='M388.131582,319.014556 C407.709802,287.148122 419,249.642544 419,209.5 C419,93.7963449 325.203655,0 209.5,0')
          path.specs__revenue-path.specs__revenue-path--whole.js-revenue-whole(d='M80.5104174,44.4066377 C31.5006191,82.752768 0,142.447702 0,209.5 C0,249.894423 11.4323253,287.618683 31.2379324,319.613737')
          path.specs__revenue-path.specs__revenue-path--part.js-revenue-part(d='M80.5104174,44.4066377 C31.5006191,82.752768 0,142.447702 0,209.5 C0,249.894423 11.4323253,287.618683 31.2379324,319.613737')

    .specs__rating-container.js-rating-text
        .specs__rating {{movie.vote_average}}
        .specs__rating-label Rating

    .specs__duration-container.js-duration-container
        .specs__label.specs__label--duration Duration
        .specs__duration {{movie.runtime}}

    .specs__revenue-container.js-revenue-container
        .specs__label.specs__label--revenue Revenue
        .specs__revenue {{movie.revenue | currency:$:0}}


.plot
    .plot__text.js-plot {{movie.overview}}


.gallery
    swiper.image-swiper.swiper-container(s-var='swiper', s-options='{loop: true}')
        ul.swiper-wrapper
            li.swiper-slide(
                ng-repeat='image in movie.images.backdrops'
                ng-hide='$first'
                style='background-image: url({{image.file_path | imagePath }})'
            )

    button.gallery__control.gallery__control--prev(swiper-control='swiper', sc-action='prev')
    button.gallery__control.gallery__control--next(swiper-control='swiper', sc-action='next')

vertical-nav.vertical-nav
    ul
        li(vn-target='home', ng-class='{"vertical-nav__active": verticalNav.active == "home"}')
            .vertical-nav__label Home
            .vertical-nav__dot
        li(vn-target='specs', ng-class='{"vertical-nav__active": verticalNav.active == "specs"}')
            .vertical-nav__label Info
            .vertical-nav__dot
        li(vn-target='plot', ng-class='{"vertical-nav__active": verticalNav.active == "plot"}')
            .vertical-nav__label Plot
            .vertical-nav__dot